.btn-primary {
  background-color: #700606;
  border-color: #700606;
}
.btn-primary:hover {
  background-color: #b71c1c;
  border-color: #b71c1c;
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #aaa;
}
.text-primary {
  color: #700606 !important;
}
.form-control:focus {
  border-color: #b71c1c;
}
.page-middle {
  margin-top: 10%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #700606 !important;
}
.container-fluid a.dropdown-item.active:hover {
  color: #fff !important;
}

.progress-bar {
  background-color: #700606 !important;
}

.cliStatus {
  font-size:0.8em;
  text-align:right;
  margin-top:-0.5em;
  color:#CCC;
  float:right;
}

.loginStatus {
  float:left;
  margin-top:-0.5em;
}

.loginLocalStatus {
  float:left;
  margin-top:-0.5em;
}

/* status */
.status {
  position: absolute;
  left: 253px;
  bottom: 0;
  z-index: 999999;
}
.status .item {
  width: 800px;
  font-size: 0.8em;
  background-color: #f0f2f5;
}
.status .item .label {
  font-weight: bold;
}
.status .item .errorMessage {
  font-weight: bold;
  color: red;
}

.mixStatus {
  text-align: center;
}
.mixThreads {
  font-size: 0.9em;
  padding-top: 0.3em;
  overflow: auto;
  height: 5em;
}
.mixThreads .progress-bar {
  font-weight: normal;
}

/* DepositPage */
.modal-tx0 {
  width: 80%;
  max-width: none !important;
}

.modal-status {
  width: 100%;
}

.utxoPoolSelector .dropdown-item,
.utxoMixsTargetSelector .dropdown-item {
  padding: 0 0.4em;
}


/* login */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
