.btn-primary {
  background-color: #700606;
  border-color: #700606;
}
.btn-primary:hover {
  background-color: #b71c1c;
  border-color: #b71c1c;
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #aaa;
}
.text-primary {
  color: #700606 !important;
}
.form-control:focus {
  border-color: #b71c1c;
}
.page-middle {
  margin-top: 10%;
}

/* status */
.status {
  position: absolute;
  left: 253px;
  bottom: 0;
  z-index: 999999;
}
.status .item {
  width: 800px;
  font-size: 0.8em;
  background-color: #f0f2f5;
}
.status .item .label {
  font-weight: bold;
}
.status .item .errorMessage {
  font-weight: bold;
  color: red;
}

.mixStatus {
  text-align: center;
}
.mixStatus button {
  line-height: 0.9em;
}
.mixThreads {
  line-height: 0.9em;
  font-size: 0.9em;
  padding-top: 0.3em;
  overflow: auto;
  height: 3em;
}

/* DepositPage */
.modal-tx0 {
  width: 80%;
  max-width: none !important;
}
