/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './css/bootstrap-dashboard.css';
@import './css/samourai.css';
@import './css/dashboard.css';

.premixPage {
  font-size: 0.9em;
}
.premixPage .btn-sm {
  line-height: 1em !important;
}

.progress-bar {
  font-weight: bold;
}

.navbar {
  color: #fff !important;
}

.stats {
  padding-top: 1em;
}

.tablescroll {
  overflow-y: scroll;
  border-left: 1px solid #700606;
  max-height: 500px;
}

.depositAddress {
  text-align: center;
}
