/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import './css/bootstrap-dashboard.css';
@import './css/samourai.css';
@import './css/dashboard.css';
