/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './css/bootstrap-dashboard.css';
@import './css/samourai.css';
@import './css/dashboard.css';

.premixPage .btn-sm {
  line-height: 1em !important;
}

th.utxo {
  min-width: 340px;
}

th.utxoStatus {
  min-width: 85px;
}

td.utxoMessage {
  overflow: auto;
  max-width: 180px;
}

.progress-bar {
  font-weight: bold;
}

.navbar {
  color: #fff !important;
}

.stats {
  padding-top: 1em;
}

.tablescroll {
  overflow-y: scroll;
}

.table-utxos {
  border-left: 1px solid #700606;
}

.table-utxos th.utxoControls {
  width:5.5em;
}

.table-utxos tr.utxo-disabled {
  opacity:0.5;
}

.table-hover tbody tr.utxo-disabled:hover {
  background: none;
}

.modal-body canvas.qr {
  margin: 0.6em 0 0.2em 0;
}

.modal-zpub {
  word-break: break-word;
}

.sidebar-sticky {
  text-align: center;
}
.sidebar-sticky .nav {
  text-align: left;
}

.zpubLink {
  float:right;
  font-size:0.9em;
  font-weight: bold;
}
