/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './css/bootstrap-dashboard.css';
@import './css/samourai.css';
@import './css/dashboard.css';

.premixPage .btn-sm {
  line-height: 1em !important;
}

th.utxoStatus {
  min-width: 80px;
}

.progress-bar {
  font-weight: bold;
}

.navbar {
  color: #fff !important;
}

.stats {
  padding-top: 1em;
}

.tablescroll {
  overflow-y: scroll;
  border-left: 1px solid #700606;
  max-height: 500px;
}

.modal-deposit .depositAddress {
  text-align: center;
}

.modal-deposit .depositAddress canvas {
  margin: 0.6em 0 0.2em 0;
}

.sidebar-sticky {
  text-align: center;
}
.sidebar-sticky .nav {
  text-align: left;
}
